<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dudu.manager.system.repository.mapper.RoleMapper" >

    <resultMap id="BaseResultMap" type="com.dudu.manager.system.repository.entity.RoleDO" >
        <id column="role_id" property="roleId"/>
        <result column="role_name" property="roleName"/>
        <result column="description" property="description"/>
        <result column="create_time" property="createTime"/>
        <result column="modified_time" property="modifiedTime"/>
        <result column="is_available" property="available"/>
        <result column="id" property="id"/>
    </resultMap>

    <sql id="RoleColumns">
        t1.role_id,
        t1.role_name,
        t1.description,
        t1.create_time,
        t1.modified_time,
        t1.is_available,
        t1.id
    </sql>

    <!-- 通过id查询用户详情 -->
    <select id="getRole" resultMap="BaseResultMap" parameterType="Long">
        select
            <include refid="RoleColumns"/>
        from
            sys_role as t1
        where
            t1.role_id = #{roleId}
    </select>

    <!-- 通过id查询用户详情 -->
    <select id="listRole" resultMap="BaseResultMap">
        select
            <include refid="RoleColumns"/>
        from
            sys_role as t1
    </select>

    <!-- 插入 -->
    <insert id="insertRole" parameterType="com.dudu.manager.system.repository.entity.RoleDO">
        insert into
            sys_role(
                role_id,
                role_name,
                description,
                is_available,
                id
            )
        values(
            #{roleId},
            #{roleName},
            #{description},
            #{available},
            #{id}
        )
    </insert>

</mapper>